
<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no" />
    <meta name="description" content="" />
    <meta name="author" content="" />
    <title>Landing Page - Start Bootstrap Theme</title>
    <!-- Favicon-->
    <link rel="icon" type="image/x-icon" href="assets/favicon.ico" />
    <!-- Bootstrap icons-->
    <link href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.5.0/font/bootstrap-icons.css" rel="stylesheet" type="text/css" />
    <!-- Google fonts-->
    <link href="https://fonts.googleapis.com/css?family=Lato:300,400,700,300italic,400italic,700italic" rel="stylesheet" type="text/css" />
    <!-- Core theme CSS (includes Bootstrap)-->
    <link href="https://cdnjs.cloudflare.com/ajax/libs/twitter-bootstrap/4.0.0-alpha.4/css/bootstrap.min.css" rel="stylesheet" />
</head>
<body>
  <br>
  <!-- Masthead-->
  <div class="container">
    <section class="features-icons bg-light text-center">
      <div class="row">
        <div class="col-12">
          <h1 class="mb-6">Compare Generative AI</h1>
        </div>
      </div>
      <form action="\submit-prompt" method="post" id="submission-form">
        <div class="row">
        <div class="col-md-6">
          <input class="form-control form-control-lg" id="prompt" name="prompt-input" type="text" placeholder="Prompt" data-sb-validations="required" />
        </div>
        <div class="col-md-4">
          <button class="btn btn-primary btn-lg" id="submitButton" type="submit">Submit</button>
        </div>
        </div>
      </form>
    </section>
  </div>
  <br>
<!-- Icons Grid-->
<section class="features-icons bg-light text-center">
  <div class="container">
      <div class="row">
        <div class="col-lg-12">
          <h2>
            Prompt: {{ prompt|default("...") }}
          </h2>
        </div>
      </div>
      <div class="row">
          <div class="col-lg-6">
            <h3>Stable Diffusion v1-5</h3>
            <img src="{{ generated_image|default("...", true) }}" class="mainImg" alt="Generated Image">
          </div>
          <div class="col-lg-6">
              <h3>Google flan-t5-xl</h3>
              <p>{{ generated_text|default("...") }}</p>
          </div>
      </div>
  </div>
</section>
</body>
</html>
